.elementor-17 .elementor-element.elementor-element-230704bf>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-230704bf {
    margin-top: 0%;
    margin-bottom: -7%;
    padding: 0px 0px 0px 0px;
    z-index: 9;
}

.elementor-17 .elementor-element.elementor-element-34fb1951>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-17 .elementor-element.elementor-element-ee9388a>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-6cffe11a {
    text-align: left;
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-520c191-font-family), Sans-serif;
    font-size: var( --e-global-typography-520c191-font-size);
    font-weight: var( --e-global-typography-520c191-font-weight);
    text-transform: var( --e-global-typography-520c191-text-transform);
    line-height: var( --e-global-typography-520c191-line-height);
    letter-spacing: var( --e-global-typography-520c191-letter-spacing);
    word-spacing: var( --e-global-typography-520c191-word-spacing);
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-a291686);
    fill: var( --e-global-color-a291686);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--main .elementor-item:hover,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-100efa4);
    fill: var( --e-global-color-100efa4);
}

.elementor-17 .elementor-element.elementor-element-71072c78 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 35px / 2);
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 35px;
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-menu-toggle {
    color: var( --e-global-color-a291686);
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-a34c656);
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a:hover,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a.highlighted,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-menu-toggle:hover {
    color: var( --e-global-color-3554ff0);
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a:hover,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-69d5af3);
}

.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown .elementor-item,
.elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-520c191-font-family), Sans-serif;
    font-size: var( --e-global-typography-520c191-font-size);
    font-weight: var( --e-global-typography-520c191-font-weight);
    text-transform: var( --e-global-typography-520c191-text-transform);
    letter-spacing: var( --e-global-typography-520c191-letter-spacing);
    word-spacing: var( --e-global-typography-520c191-word-spacing);
}

.elementor-17 .elementor-element.elementor-element-71072c78 div.elementor-menu-toggle {
    color: var( --e-global-color-a291686);
}

.elementor-17 .elementor-element.elementor-element-71072c78 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-a291686);
}

.elementor-17 .elementor-element.elementor-element-71072c78 div.elementor-menu-toggle:hover {
    color: var( --e-global-color-a34c656);
}

.elementor-17 .elementor-element.elementor-element-71072c78 div.elementor-menu-toggle:hover svg {
    fill: var( --e-global-color-a34c656);
}

@media(min-width:768px) {
    .elementor-17 .elementor-element.elementor-element-34fb1951 {
        width: 85%;
    }
    .elementor-17 .elementor-element.elementor-element-3aa5959a {
        width: 20%;
    }
    .elementor-17 .elementor-element.elementor-element-74749bfc {
        width: 80%;
    }
    .elementor-17 .elementor-element.elementor-element-5a1701c3 {
        width: 15%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-17 .elementor-element.elementor-element-34fb1951 {
        width: 77%;
    }
    .elementor-17 .elementor-element.elementor-element-3aa5959a {
        width: 90%;
    }
    .elementor-17 .elementor-element.elementor-element-74749bfc {
        width: 10%;
    }
    .elementor-17 .elementor-element.elementor-element-5a1701c3 {
        width: 23%;
    }
}

@media(max-width:1024px) {
    .elementor-17 .elementor-element.elementor-element-230704bf {
        margin-top: 0em;
        margin-bottom: -7em;
    }
    .elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-520c191-font-size);
        line-height: var( --e-global-typography-520c191-line-height);
        letter-spacing: var( --e-global-typography-520c191-letter-spacing);
        word-spacing: var( --e-global-typography-520c191-word-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-520c191-font-size);
        letter-spacing: var( --e-global-typography-520c191-letter-spacing);
        word-spacing: var( --e-global-typography-520c191-word-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-71072c78 {
        --nav-menu-icon-size: 28px;
    }
}

@media(max-width:767px) {
    .elementor-17 .elementor-element.elementor-element-3aa5959a {
        width: 80%;
    }
    .elementor-17 .elementor-element.elementor-element-6cffe11a {
        text-align: right;
    }
    .elementor-17 .elementor-element.elementor-element-74749bfc {
        width: 20%;
    }
    .elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu .elementor-item {
        font-size: var( --e-global-typography-520c191-font-size);
        line-height: var( --e-global-typography-520c191-line-height);
        letter-spacing: var( --e-global-typography-520c191-letter-spacing);
        word-spacing: var( --e-global-typography-520c191-word-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-17 .elementor-element.elementor-element-71072c78 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-520c191-font-size);
        letter-spacing: var( --e-global-typography-520c191-letter-spacing);
        word-spacing: var( --e-global-typography-520c191-word-spacing);
    }
}